@use 'global' as *;
@use 'nav';

main {
    min-height: 330px;
    padding: 3rem;
    margin-bottom: 1rem;
    background-color: aliceblue;

    #main-content {
        font-size: 2em;
        margin: 0;
        
    }
    #sub-content {
        font-size: 1.2em;
        margin: 0;
    }
    #meaning-content {
        font-size: 1.2em;
        line-height: 2em;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 2em;
    }

    .imgURL {
        float: left;
        width: 50%;
        height: 150px;
        background-position: center;
        background-size: cover;
        margin-right: 20px;
    }
}

.actions {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    // gap: 1rem;
    position: sticky;
    width: 100%;
    bottom: 5px;
    background-color: white;
    &.three {
        input {
            width: 33.3%;
            background-color: white;
            border: solid gray 1px;
            border-right: none;
            border-radius: 0;
            :last-child {
                border-right: solid gray 1px; 
            }
        }
    }
    &.two {
        input {
            width: 50%;
        }
    }
    input {
        display: block;
        padding: 1rem;
        font-size: 1.5em;
    }
   
}